{
  "extends": "airbnb",
	"settings": {
		"import/core-modules": [
			"meteor",
			"meteor/mongo",
			"meteor/meteor",
			"meteor/promise",
			"meteor/apollo",
			"meteor/react-meteor-data",
			"meteor/session"
		],
	},
  "rules": {
    "indent": ["error", "tab"],
    "no-tabs": 0,
    "semi": 0,
		"import/prefer-default-export": 0,
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/anchor-is-valid": ["warn", { "aspects": ["invalidHref"] }],
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
		"react/jsx-indent": [2, "tab"],
    "react/jsx-indent-props": [2, "tab"]
  },
	"env": {
		"browser": true,
		"node": true
	}
}
