<article class="post post--article <%= !article.published? ? 'is-draft' : '' %>">
  <%= link_to article.title, adam_article_path(article) %>
  <span>(
    <% if article.published? %>
      <%= link_to "published", long_post_path(article.params) %>
    <% else %>
      Draft
    <% end %>
      )
  </span>
  <%= article.blurb %>

</article>
