<section>
  <div class="h-card u-author">
    <a href="https://adamdawkins.uk" class="u-url" style="width: 100px; float: left; margin-right: 1em;">
      <img src="/photo.jpg" class="u-photo" importance="high"/>
    </a>
    <div class="bio-body">
      <h3>About the author</h3>
      <p class="p-note">
      I am a web developer. I co-founded  and work at <a class="p-org" href="https://dragondrop.uk">Dragon Drop</a>.
      </p>
      <p>Want to work together or stuck on a web problem? <a class="u-email" href="mailto:adam@dragondrop.uk">email me</a>.</p>
    </div>
  </div>
</section>
