<section>
  <div class="h-card u-author" style="display: flex; flex-flow: row nowrap;">
    <div style="width: 150px; margin-right: 1em;">
      <a href="https://adamdawkins.uk" class="u-url">
        <img src="/photo.jpg" class="u-photo" importance="high" style="border-radius: 50%"/>
      </a>
    </div>
    <div class="bio-body">
    <h3>About the author</h3>
      <p class="p-note">
      I am a web developer. I co-founded and work at <a class="p-org" href="https://dragondrop.uk">Dragon Drop</a>.
      Want to work together or stuck on a web problem? <a class="u-email" href="mailto:adam@dragondrop.uk">email me</a>.</p>
      <p>You can also find me on <a href="https://twitter.com/adamdawkins" rel="me">Twitter</a>, <a href="https://github.com/adamdawkins" rel="me">Github</a>, and <a href="https://instagram.com/adamdawkins" rel="me">Instagram</a>
      </p>
      <p>
      <small>Some older articles are avaliable on <a href="https://medium.com/@adamdawkins" rel="me">Medium</a></small>
      </p>
    </div>
  </div>
</section>
