<div class="h-card lead">
  <p class="p-note">
    I am a web developer. I co-founded  and work at <a class="p-org" href="https://dragondrop.uk">Dragon Drop</a>.
    Based in <span class="p-locality">High Wycombe</span>, <span class="p-country-name">United Kingdom</span>.
  </p>
  <p>Want to work together or stuck on a web problem? <a class="u-email" href="mailto:adam@dragondrop.uk">email me</a>.</p>
</div>
