<div class="h-card lead">
  <p class="p-note">
    I am a web developer. I co-founded  and work at <a class="p-org" href="https://dragondrop.uk">Dragon&nbsp;Drop</a>.
    Based in <span class="p-locality">High Wycombe</span>, <span class="p-country-name">United Kingdom</span>.
  </p>
  <p>Want to work together or stuck on a web problem? <a class="u-email" href="mailto:adam@dragondrop.uk">email&nbsp;me</a>.</p>
  <p>I am tracking this website's progress against <a href="/indiemark">IndieMark</a>, currently <strong>level 1.6</strong></p>
</div>
