<h1>Turning your school Upside Down</h1>

<h2>Bible</h2>
<ul>
  <li>2 Corinthians 4:7-11</li>
  <li>Acts 17:24-27</li>
  <li>Philippians 4:8</li>
  <li>Acts 17:6-7</li>
  <li>Hebrews 12:1-2</li>
</ul>
<h2>The Peace Prayer</h2>
<p>
Lord, make me an instrument of your peace.<br>
<br>
Where there is hatred, let me bring love.<br>
Where there is offense, let me bring pardon.<br>
Where there is disagreement, let me bring union.<br>
Where there is error, let me bring truth.<br>
Where there is doubt, let me bring faith.<br>
Where there is despair, let me bring hope.<br>
Where there is darkness, let me bring your light.<br>
Where there is sadness, let me bring joy.<br>
</p>
<p>
O Master, let me not seek as much<br>
to be consoled as to console,<br>
to be understood as to understand,<br>
to be loved as to love,<br>
for it is in giving that one receives,<br>
it is in self-forgetting that one finds,<br>
it is in pardoning that one is pardoned,<br>
it is in dying that one is raised to eternal life.<br>
