<p class="print-only">email: adam@dragondrop.uk, mobile: 07841763735</p>
<p class="no-print">Hi, this is the closest I've got to a CV. It's print-friendly, and if you have any other questions, just drop me an email at <a href="mailto:adam@dragondrop.uk">adam@dragondrop.uk</a>.</p>
<h2>Skills</h2>
<p>I've been in Web Development for 13 years, starting in e-commerce. Having started as a UI Developer, most of my work over the last 6 years has been full-stack, either in Node or Ruby on Rails.</p>
<p>Although I'll happily geek out about code, it's my strong belief that it's <em>not about the code</em>, and that a Developer is responsible for being an advocate for the needs of the end user.</p>
<p>I pride myself on being able to match genuine business and user needs to Development solutions, and that's the core mantra of the company I co-founded: Dragon Drop.</p>
<p>I don't think developers need to box themselves into strange specialisms, and the Front End Conference I ran with John Norris in 2016, <a href="https://www.youtube.com/watch?v=02DzlsxQU5I&list=PLRi5SF79gJa_e7Hr1UQg4ytkCUamLUCsX">Frontier Conference</a> was built on the grounds of the various tenets of Front End all being equally important: Full Stack, Typography, CSS, UX, Javascript, Innovation</p>

<h2>Projects</h2>
<p>Here's a list of some projects I've worked on over the last few years. Unless stated otherwise, I was the lead developer on all of them.</p>

<article class="h-entry post post--project">
  <a><time class="block-time dt-published" datetime="2019-01-01">January 2019</time></a>
  <div>
    <h3 class="post__title p-name">The List Bot</h3>
    <p class="p-summary">
    The List Bot is a Trello Power-Up that automatically assigns members to cards.
    </p>
    <p><strong>Responsibilities:</strong> Design, Development, Full Stack</strong></p>
    <h4>Tech Stack</h4>
    <ul style="">
      <li>Node</li>
      <li>React</li>
      <li>SASS</li>
      <li>Google Cloud Functions</li>
      <li>Microservices</li>
      <li>Firebase</li>
    </ul>
    <a href="https://thelistbot.dragondrop.uk/" class="post__cta">View the List Bot</a>
  </div>
</article>
<article class="h-entry post post--project">
  <a><time class="block-time dt-published" datetime="2019-02-01">February 2019</time></a>
  <div>
    <h3 class="post__title p-name">Cath Kidston: Store Data Management</h3>
    <p class="p-summary">Cath Kidston needed to add more data to their store pages for compliance with an SEO agency. Our solution scrapes and updates as much data as possible from the pages dynamically, and has a backoffice provided for admins to add the rest.</p>
    <p><strong>Responsibilities:</strong> Design, Development, Full Stack</strong></p>
    <h4>Tech Stack</h4>
    <ul style="">
      <li>Node</li>
      <li>React</li>
      <li>SASS</li>
      <li>Javascript</li>
      <li>GraphQL</li>
      <li>MongoDB</li>
    </ul>
    <a href="https://thelistbot.dragondrop.uk/" class="post__cta">View the List Bot</a>
  </div>
</article>
<article class="h-entry post post--project">
  <a><time class="block-time dt-published" datetime="2018-11-01">November 2018</time></a>
  <div>
    <h3 class="post__title p-name">Justice & Care: Fundraise for Freedom</h3>
    <p class="p-summary">After a prototype, moved on to design and develop a community fundraising platform for Justice &amp; Care.</p>
    <p><strong>Responsibilities:</strong> Design, Development, Full Stack</strong></p>
    <h4>Tech Stack</h4>
    <ul style="">
      <li>Ruby on Rails</li>
      <li>HTML</li>
      <li>SASS</li>
      <li>Javascript</li>
      <li>Postgresql</li>
    </ul>
    <a href="https://www.fundraiseforfreedom.org/" class="post__cta">View Fundraise for Freedom</a>
  </div>
</article>
<article class="h-entry post post--project">
  <a><time class="block-time dt-published" datetime="2018-09-01">September 2018</time></a>
  <div>
    <h3 class="post__title p-name">Save the Children: Good Goods</h3>
    <p class="p-summary">I was contracted to lead development on a community-led online shop fundraising campaign.</p>
    <p><strong>Responsibilities:</strong> Development, Full Stack</strong></p>
    <h4>Tech Stack</h4>
    <ul style="">
      <li>Ruby on Rails</li>
      <li>HTML</li>
      <li>SASS</li>
      <li>Javascript</li>
      <li>Postgresql</li>
    </ul>
    <a href="https://daughter.is/working-with/save-the-children" class="post__cta">Read the Case Study</a>
  </div>
</article>
<article class="h-entry post post--project">
  <a><time class="block-time dt-published" datetime="2018-05-01">May 2018</time></a>
  <div>
    <h3 class="post__title p-name">Tearfund Travel</h3>
    <p class="p-summary">Tearfund required a comprehensive travel application to handle their trips abroad with team members and donors.</p>
    <p><strong>Responsibilities:</strong> Design, Development, Full Stack</strong></p>
    <h4>Tech Stack</h4>
    <ul style="">
      <li>Ruby on Rails</li>
      <li>HTML</li>
      <li>SASS</li>
      <li>Javascript</li>
      <li>Postgresql</li>
    </ul>
  </div>
</article>
<article class="h-entry post post--project">
  <a><time class="block-time dt-published" datetime="2017-12-01">December 2017</time></a>
  <div>
    <h3 class="post__title p-name">Mint Velvet: Automated Product Recommendations</h3>
    <p class="p-summary">Designed and built a back-end application and public UI layer that automates product recommendations on mintvelvet.co.uk </p>
    <p><strong>Responsibilities:</strong> Design, Development, Full Stack</strong></p>
    <h4>Tech Stack</h4>
    <ul style="">
      <li>Node</li>
      <li>React</li>
      <li>Javascript</li>
      <li>SASS</li>
      <li>GraphQL</li>
      <li>MongoDB</li>
    </ul>
  </div>
    <a href="https://www.dragondrop.uk/case-studies/automating-product-recommendations/" class="post__cta">Read the Case Study</a>
</article>
<article class="h-entry post post--project">
  <a><time class="block-time dt-published" datetime="2014-06-01">June 2016 - present</time></a>
  <div>
    <h3 class="post__title p-name">Mint Velvet: Website Management Platform</h3>
    <p class="p-summary">I designed and built a management platform for Mint Velvet to add addtional layers of functionality to their website.</p>
    <p><strong>Responsibilities:</strong> Design, Development, Full Stack</strong></p>
    <h4>Tech Stack</h4>
    <ul style="">
      <li>Node</li>
      <li>React</li>
      <li>SASS</li>
      <li>GraphQL</li>
      <li>MongoDB</li>
      <li>Microservices</li>
    </ul>
  </div>
    <a href="https://www.dragondrop.uk/case-studies/mvhq/" class="post__cta">Read the Case Study</a>
</article>
