<div class="h-card bio">
  <a href="https://adamdawkins.uk" class="u-url">
    <img src="photo.jpg" class="u-photo" importance="high" />
  </a>
  <div class="bio-body">
    <h1 class="p-name">Adam Dawkins</h1>
    <p class="p-note">Working at <a class="p-org" href="https://dragondrop.uk">Dragon Drop</a>.
    Based in <span class="p-locality">High Wycombe</span>, <span class="p-country-name">United Kingdom</span>.
    </p>
    <p>Want to work together or stuck on a web problem? <a class="u-email" href="mailto:adam@dragondrop.uk">email</a> me</p>
  </div>
</div>
