<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<article class="h-entry">
 <a class="u-url quiet" href="/2019/5/22/im-a-christian-and-im-not-okay-and-thats-okay-mentalhealthawarenessweek">
    <time class="block-time dt-published" datetime="2019-05-22T16:39:44.000+0000">
        8 minutes ago
        <span style="font-weight: normal; margin-left: 1em;">16:39</span>
    </time>
</a>  <h1 class="title p-name">I'm a Christian and I'm not okay - and that's okay.</h1>
  <div class="e-content">
<p>It’s #MentalHealthAwarenessWeek, which is run every year by the Mental Health Foundation, whose goal is to help people by them understanding, protecting and sustaining their mental health.</p>
<p>Part of the purpose of this week is to help remove the social stigma attached to mental ill health - and yet, the church is so often /terrible/ in this area.</p>
<p>Time and again, I see Christians offering ‘relationship with Jesus’ as a panacea for a whole spectrum of mental health issues in a way they never would about physical health. “If you have Jesus, it’ll all be ok” reinforces the stigmas that there’s something wrong with you if you suffer from ill mental health, or that there’s a very internal solution to the problem.</p>

<h2>Christian platitudes are not enough</h2>
<p>Here are two quick examples of this:</p>
<p>
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Suicidal thoughts suggest, “Your pain will never end. You will always be this way.” But if you are in Christ, God says, “I have always loved you, and nothing can separate you from my love.”</p>&mdash; Desiring God (@desiringGod) <a href="https://twitter.com/desiringGod/status/1093729132284923904?ref_src=twsrc%5Etfw">February 8, 2019</a></blockquote>
</p>


<p>Being “in Christ” removes suicidal thoughts, apparently. According to the Mental Heath Foundation, depression (which can lead to suicidal thoughts)  affects around one twelfth of the global population. It’s just not as clear cut as Jesus + Suicidal Thoughts = No Suicidal Thoughts</p>
<p>I asked a therapist and Samaritans volunteer for a bit more information about what can lead to suicidal thoughts.<p>
<p>"In the first instance I must stress that the factors involved can differ from person to person", she said (already undermining the foolishness of christians' duck-billed platitudes).</p>
<blockquote>
<p>"And suicidal ideation, (where someone fantasises or has intrusive thoughts) may not mean they are “suicidal”."</p>
<p>But for people who are actively suicidal I’ve found common themes in thinking are:
<ul>
  <li>not wanting to burden family and friends with their feelings</li>
  <li>feeling like they are doing loved ones a favour by ending their  life</li>
  <li>feeling like they aren’t deserving of happiness</li>
  <li>feeling like they aren’t deserving of help</li>
  <li>feeling like there is no way out (obvs) </li>
  <li>feeling death means peace and an escape rather than pain</li>
  <li>“the world will be better off without me”</li>
</ul>
</p>
</blockquote>


<p>Nuance, and personal circumstances are at the heart of mental health, and tweets like DesiringGod's above don't only fail to help, they actively make things worse.</p>
<p>Many of the responses reflected this sentiment:</p>
<p>
<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Ugh. This tweet does more harm than good. Plenty of people “in Christ” experience suicide thoughts. They aren’t mutually exclusive. Let’s treat mental illness like any other illness or even a broken bone: With professional help, including medication.</p>&mdash; Jamie Tworkowski (@jamietworkowski) <a href="https://twitter.com/jamietworkowski/status/1094827975432843264?ref_src=twsrc%5Etfw">February 11, 2019</a></blockquote>
</p>
<p>
<blockquote class="twitter-tweet" data-conversation="none" data-lang="en"><p lang="en" dir="ltr">In high school, I had suicide ideation because the combination of having depression and being a Christian, I thought I wasn&#39;t worthy of life. That God was punishing me.<br><br>Reading this, 10 years ago could have killed me.<br><br>Delete this foul noise <a href="https://twitter.com/desiringGod?ref_src=twsrc%5Etfw">@desiringGod</a>.</p>&mdash; Jon Bates (@jonbates1050) <a href="https://twitter.com/jonbates1050/status/1094510973702946817?ref_src=twsrc%5Etfw">February 10, 2019</a></blockquote>
</p>
<p>Christians can’t afford to continue to lack basic understanding around mental health and continue to speak in platitudes and absolutes. We <em>must</em> do better.</p>
<p>Much closer to my spiritual home, author and speaker Amy Orr-Ewing shared this post, tagging it with #MentalHealthAwarenessWeek:</p>
<p>
<iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FAmyOrrEwing.online%2Fposts%2F2168282453290225&width=500" width="500" height="633" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
</p>
<p>Although this is admittedly vague, the implication here is that Jesus gives a peace that reduces anxiety and associated mental health orders. A peace the world <em>doesn’t</em> offer. But, for many Christians, the ‘peace’ the world offers in the form of therapy and medication is what’s <em>keeping them alive</em>.</p>
<p>The implication that I shouldn’t take 'the peace the world gives’, from positions of authority, is potentially deadly, and we <em>must</em> do better.</p>

<h3>Let’s get personal</h3>
<p>11 years ago I was prescribed Duloxetine to help combat nerve pain in my back and legs.  Duloxetine is an anti-depressant, but I was given it to help suppress activity in the central nervous system.</p>
<p>The withdrawal effects are terrible and despite no longer needing the medication for the back pain (another story tied to mental health), I’m currently on a <em>three-year</em> withdrawal plan. The full list of withdrawal symptoms is exhaustive, but includes:</p>
<p>
<ul>
  <li>dizziness</li>
  <li>electric shock-like feelings in the head,</li>
  <li>nightmares,</li>
  <li>anxiety,</li>
  <li>nausea,</li>
  <li>vertigo</li>
  <li>suicidal thoughts.</li>
</ul>
</p>
<p>I believe that faith in Jesus can be tangible and life-changing, but if I stop taking my medication - it’ll be just as tangible and potentially life-changing. We need to do better.</p>
<h3>What on earth are we singing about?</h3>
<p>This problem isn’t just isolated to the generic Christian platitudes of social media. For the most part, our entire church services are oriented around affirming that everything is great in our lives, and that Jesus should get the credit. There’s an inherent internal pressure to prove that you’re enjoying life because you ‘know’ Jesus, and we affirm this in song after song.</p>
<p>During the height of my chronic pain, when I couldn’t even physically lift my arms to worship, a Pastor asked me: “I’ve never actually seen you passionate about Jesus. I don’t know if that’s because I’ve only known you in this season of pain, but maybe take away that challenge.”</p>
<p>No, I won’t take away that challenge, you’ve only know me through 35% of journey with chronic pain. I had an active faith, I just wasn’t /happy/. We need to do better.</p>
<p>The Bible, incidentally, does much better. There are swathes of the Psalms, Job, Ecclesiastes, Jeremiah, Lamentations and even Jesus’ life that speak of stress, depression, doubt, anger and fear. Our songs don’t.</p>
<h3>Doing Better</h3>
<p>There are examples out there of how we can do better. Firstly, <em>this song</em> by We Are Messengers.</p>
<p>
<iframe src="https://open.spotify.com/embed/track/7wPJzUYidMGYaJx0lkRpfM" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
</p>
<p>The chorus runs:</p>

<blockquote>
<p>Maybe it’s ok if I’m not okay<br>
because the one who holds the world is holding on to me</p>
</blockquote>
<p>God’s promise is that he’ll never give up. There’s hope in that. We can do better.</p>
<p>This tweet came up on my timeline today, and it’s a wonderful example of honestly addressing ill mental health, and placing hope in God.</p>
<p><blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">Having no control over my brain’s neurochemistry is frustrating &amp; frightening. <br><br>It helps me to focus on what I *CAN* do: take my meds, get 8 hours of sleep (no exceptions!), avoid stress, exercise and eat right.<br><br>The rest I give over to God. <br><br>And hold fast to hope. <br><br>HOLD FAST.</p>&mdash; Elizabeth Esther (@elizabethesther) <a href="https://twitter.com/elizabethesther/status/1130948212154556416?ref_src=twsrc%5Etfw">May 21, 2019</a></blockquote>
</p>


<p> We can do better.</p>
<p>If the church is anything, it is supposed to be the home for the broken, the needy, the not-having-it-all-togethers. Jesus promises to accept and love unconditionally, and it may lead to change, but it may not. Conditions like Bi-Polar Disorder, anxiety, OCD and depression are <em>real</em>, and like many physical afflictions - they don’t just go away with faith.</p>

<p>I’m a Christian, and I’m not ok. And that’s ok.</p>
  </div>
</article>
  <footer>
    <small style="color: #666">

    </small>
    <a rel="author" class="u-author" href="/"></a>
  </footer>
