<h1>Indiemark</h1>
<blockquote cite="https://indieweb.org/IndieMark">
  <p>
<a href="https://indieweb.org/IndieMark#Level_1">IndieMark</a> is a set of metrics for measuring the indieweb-ness of a site, and a step-by-step approach to incrementally adopting indieweb features on your site.</p>
</blockquote>

<p>This is the Indiemark checklist for adamdawkins.uk</p>

<h2>Level 1 (0.2/1.0)</h2>
<p>IndieMark Level 1 has the general theme of owning your own domain, for sign-in, and publishing posts</p>
<ol class="indiemark">
  <li class="completed">✔️ 0.2 pts <strong>identity</strong> - #ownyouridentity
    <ul>
      <li> <strong>
          <a href="https://indieweb.org/personal-domain" title="personal-domain">Personal domain</a>
        </strong> that you use as your primary identity on the web.
      </li>
    </ul>
  </li>
  <li> 0.2 pts <strong>authentication</strong> - #useyourownidentity
    <ul>
      <li> <strong>Setup <a href="https://indieweb.org/Web_sign-in" title="Web sign-in">Web sign-in</a>
        </strong> for login, sign-in to <a class="external free" href="https://indieweb.org/">https://indieweb.org/</a>, and create your user page, linking to your personal domain.
        <ul>
          <li> Easy: <a href="/rel-me" title="rel-me">rel-me</a> links to your "other profiles" on the web (e.g. at <a href="/silos" class="mw-redirect" title="silos">silos</a>) and have them link back. <a href="/How_to_set_up_web_sign-in_on_your_own_domain" title="How to set up web sign-in on your own domain">How to setup rel-me links</a>.</li>
          <li> Harder: Local <a href="/IndieAuth" title="IndieAuth">IndieAuth</a> provider support in your own site.</li>
        </ul>
      </li>
    </ul>
  </li>
  <li> 0.4 pts <strong>
      <a href="/posts" title="posts">posts</a>
    </strong> - #ownyourdata - <strong>Post some kind of original content</strong> on your own site, split into:
    <ul>
      <li> 0.2 pts <strong>
          <a href="/permalinks" class="mw-redirect" title="permalinks">permalinks</a>
        </strong> - multiple <a href="/posts" title="posts">posts</a> with permalinks for the content on your own site
        <ul>
          <li> 0.1 point per permalink up to 0.2 points</li>
        </ul>
      </li>
      <li> 0.2 pts <strong>
          <a href="/h-entry" title="h-entry">h-entry</a> markup</strong> of those posts
        <ul>
          <li> 0.1 point per post with h-entry up to 0.2 points</li>
          <li> with e.g. p-name, p-content, dt-published, u-url properties</li>
          <li> <a class="external text" href="http://indiewebify.me/validate-h-entry/">Test your h-entry support!</a>
          </li>
        </ul>
      </li>
    </ul>
  </li>
  <li> 0.2 pts <strong>
      <span id="level-1-search">
        <span id="level-0-search">
          <a href="/search" title="search">search</a>
        </span>
      </span>
    </strong> - searchability is required for level 1. You must do all of these for the 0.2 pts:
    <ul>
      <li> <strong>allow robots to index</strong>. Permissive or no robots.txt. Either don't have /robots.txt, or if you have one, it MUST allow search engines to index the abovementioned posts.</li>
      <li> <strong>post content in HTML</strong>. Your post content MUST be in the visible HTML of the page retrieved from your post permalink. No depending on <a href="/Javascript" class="mw-redirect" title="Javascript">Javascript</a> to render your post content - if you can't <kbd>curl</kbd> it, it's not on the web.</li>
      <li> <strong>site-specific searchability</strong>. Be able to use "site:yoursite.example.com search-term" in <a href="/Google" title="Google">Google</a> and other search engines (that support site-specific searches) directly to find and display your posts in search results.
        <ul>
          <li> <strong>Note:</strong> no actual search UI on your site is required for level 1. That's in level 2.</li>
        </ul>
      </li>
    </ul>
  </li>
</ol>
