body {
	font-size: 24px;
  background-image: url('../background.jpg');
  background-size: cover;
  color: rgba(0,0,0,.8);
	background-position: bottom;
}


body, html {
	height: 100%;
	width: 100%;
}

.title a {
  color: rgba(0,0,0,.8) !important;
}

p {
	max-width: 35em;
}

/* Add an arrow to the end of external links  in text */
p > a[data-external="true"]::after {
	content: "\2197";
	margin-left: .2em;
	font-size: .5em;
}

/* atomic stuff */

/* font-family: sans-serif; */
.Ff\(ss\) {
	font-family: sans-serif;
}

/* A smaller font size */
.Fz\(small\) {
	font-size: .7em;
}

.Mt\(space\) {
  margin-top: 2em
}



/* Overrides of Lit stuff */

.card {
  background: rgba(255, 252, 243, .85);
  border-radius: .025em;
}

.facepile {
	list-style-type: none;
	margin: 0;
}

.facepile .face {
	float: left;
	margin: 0;
	padding: 0;
	margin-left: 3px;
}

.card img {
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.face img {
	width: 36px;
	height: 36px;
}
