<article class="post post--repost <%= !repost.published? ? 'is-draft' : '' %>">
  <div class=""><%= repost.html_content %></div>
  <%= link_to "preview", adam_repost_path(repost), class: "u-url" %>
</article>
