$note_color: #65A2A8;
$article_color: #E96856;
$project_color: #56E9A3;


.post {
	display: flex;
	flex-direction: column;
	background: white;
	position:relative;
	padding: 0 1rem;
	margin-bottom: 1.5rem;
	box-shadow: 1px 1px 2px rgba(0,0,0, .1);
  border-radius: .1em;

  footer {
    border-top: 1px solid #ccc;
    font-size: 0.8125rem;
  }

  p {
    line-height: 2rem;
		// Don't break CSS from CSS Tricks: https://bit.ly/1jxpUJR
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }
	 
	&__cta {
		float: right;
		margin-bottom: 1.5rem;
	}

	&__title {
		color: black;
	}

	&--article {
		border-top: 1px solid $article_color;
	}

	&--project {
		border-top: 1px solid $project_color;
	}

	&--note {
		border-top: 1px solid $note_color;
		a.user-mention {
			text-decoration: none;
		}
	}

  &.is-draft {
    background: #eee;
    opacity: .8;
    border: 1px dashed #ccc;
    box-shadow: none;
  }
}

@media screen and (min-width: 480px) {
	.post {
		margin-left: 5rem;

		&::before {
			position: absolute;
			left: -5rem;
			border-radius: 50%;
			background: white;
			text-align: center;
			font-size: 2rem;
			padding: 1rem;
			top: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 2rem;
			width: 2rem;
		}

		&--article::before {
			content: "📄";
			box-shadow: 1px 1px 2px $article_color;
		}

		&--note::before {
			content: "📔";
			box-shadow: 1px 1px 2px $note_color;
		}

		&--project::before {
			content: "🚀";
			box-shadow: 1px 1px 2px $project_color;
		}

    &--reply::before {
      content: "↪"
    }

    &.is-draft {
      &::before {
        background: #eee;
        box-shadow: none;
        border: 1px dashed #ccc;
      }
    }
	}
}

.block-time {
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 1.125rem;
  margin: 0;
  color: #666;
}

.post__reply {
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.125rem;
}
