$orange: #E96856;
html {
  font-family: "neue-haas-unica", sans-serif;
  font-weight: 400;
  background-color: #f7f3f0;
}

body {
  max-width: 45rem;
  margin: auto;
  line-height: 1.5rem;
  font-size: 1.25rem;
}

html, body {
  padding: 0.5rem;
}

@media screen and (min-width: 480px) { 
  html, body {
    padding: 1.5rem;
  }
}

img, iframe {
	max-width: 100%;
}

h1, h2, h3, h4 {
  line-height: 1.25;
}

h1 {
  font-size: 3rem;
  font-weight: 900; // Unica Extra Black
}

h2 {
  font-size: 2rem;
}

h3, .sub-title { 
  font-size: 1.5rem;
}

h1, h2, h3, h4, p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

h1, h2, h3, h4 {
  margin-top: 3rem;
}

.lead {
  font-size: 1.5rem;
  line-height: 1.25;
}

p > strong {
  font-weight: 600; // Unica Bold, as opposed to heavy
}

figcaption {
  font-size: 1rem;
  line-height: 1.25rem;
  font-style: italic;
}



section {
  padding: 1.5rem 0;
  border-top: 5px solid $orange;
}

a {
	color: $orange;
  text-decoration-color: $orange;

	&.silent {
		color: inherit;
		text-decoration: none;
	}

	&.quiet {
		color: inherit;
		text-decoration: none;

		&:hover {
			color: $orange;
			text-decoration: underline;
		}
	}

  &.underline {
    color: inherit;
    &:hover {
			color: $orange;
    }
  }

}

a[href^="http"] {
	text-decoration: underline dotted;
}

blockquote p {
  font-style: italic;
}

@import "header";
@import "posts";
@import "indiemark";
@import "link_previews";


.turbolinks-progress-bar {
  height: 5px;
  background-color: $orange;
}

.print-only { display: none }

pre {
	background: white;
	padding: 1rem;
	white-space: pre-wrap;       /* css-3 */
}

.likes {
  display: flex;
  align-items: center;
  &__count {
    font-size: 1rem;
    margin-right: 1rem;
  }
}

.face-pile {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.face {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin: 0 5px;
}


pre table td { padding: 5px; }
pre table pre { margin: 0; }
pre .gh {
  color: #999999;
}
pre .sr {
  color: #f6aa11;
}
pre .go {
  color: #888888;
}
pre .gp {
  color: #555555;
}
pre .gs {
}
pre .gu {
  color: #aaaaaa;
}
pre .nb {
  color: #f6aa11;
}
pre .cm {
  color: #75715e;
}
pre .cp {
  color: #75715e;
}
pre .c1 {
  color: #75715e;
}
pre .cs {
  color: #75715e;
}
pre .c, pre .ch, pre .cd, pre .cpf {
  color: #75715e;
}
pre .err {
  color: #960050;
}
pre .gr {
  color: #960050;
}
pre .gt {
  color: #960050;
}
pre .gd {
  color: #49483e;
}
pre .gi {
  color: #49483e;
}
pre .ge {
  color: #49483e;
}
pre .kc {
  color: #66d9ef;
}
pre .kd {
  color: #66d9ef;
}
pre .kr {
  color: #66d9ef;
}
pre .no {
  color: #66d9ef;
}
pre .kt {
  color: #66d9ef;
}
pre .mf {
  color: #ae81ff;
}
pre .mh {
  color: #ae81ff;
}
pre .il {
  color: #ae81ff;
}
pre .mi {
  color: #ae81ff;
}
pre .mo {
  color: #ae81ff;
}
pre .m, pre .mb, pre .mx {
  color: #ae81ff;
}
pre .sc {
  color: #ae81ff;
}
pre .se {
  color: #ae81ff;
}
pre .ss {
  color: #ae81ff;
}
pre .sd {
  color: #e6db74;
}
pre .s2 {
  color: #e6db74;
}
pre .sb {
  color: #e6db74;
}
pre .sh {
  color: #e6db74;
}
pre .si {
  color: #e6db74;
}
pre .sx {
  color: #e6db74;
}
pre .s1 {
  color: #e6db74;
}
pre .s, pre .sa, pre .dl {
  color: #e6db74;
}
pre .na {
  color: #a6e22e;
}
pre .nc {
  color: #a6e22e;
}
pre .nd {
  color: #a6e22e;
}
pre .ne {
  color: #a6e22e;
}
pre .nf, pre .fm {
  color: #a6e22e;
}
pre .vc {
  color: #ffffff;
  background-color: #272822;
}
pre .nn {
  color: #ffffff;
  background-color: #272822;
}
pre .nl {
  color: #ffffff;
  background-color: #272822;
}
pre .ni {
  color: #ffffff;
  background-color: #272822;
}
pre .bp {
  color: #ffffff;
  background-color: #272822;
}
pre .vg {
  color: #ffffff;
  background-color: #272822;
}
pre .vi {
  color: #ffffff;
  background-color: #272822;
}
pre .nv, pre .vm {
  color: #ffffff;
  background-color: #272822;
}
pre .w {
  color: #ffffff;
  background-color: #272822;
}
pre {
  color: #ffffff;
  background-color: #272822;
}
pre .n, pre .py, pre .nx {
  color: #ffffff;
  background-color: #272822;
}
pre .ow {
  color: #f92672;
}
pre .nt {
  color: #f92672;
}
pre .k, pre .kv {
  color: #f92672;
}
pre .kn {
  color: #f92672;
}
pre .kp {
  color: #f92672;
}
pre .o {
  color: #f92672;
}

