<!DOCTYPE html>
<html>
  <head>
    <title>Adam Dawkins</title>
    <link rel="icon" href="/avatar.jpg" type="image/jpg" />
    <link rel="apple-touch" href="icon.png" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
