<!DOCTYPE html>
<html>
  <head>
    <title>Adam Dawkins</title>
    <link rel="icon" href="/avatar.jpg" type="image/jpg" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
