<!DOCTYPE html>
<html>
  <head>
    <title>Adam Dawkins</title>
    <link rel="icon" href="/avatar.jpg" type="image/jpg" />
    <link rel="apple-touch" href="icon.png" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag "application" %>
    <link rel="stylesheet" href="https://use.typekit.net/zde4kfh.css">
  </head>

  <body>
    <header>
      <h1>Adam Dawkins</h1>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <h3>Elsewhere</h3>
      <p>I am also on <a href="https://twitter.com/adamdawkins" rel="me">Twitter</a>, <a href="https://github.com/adamdawkins" rel="me">Github</a>, and <a href="https://instagram.com/adamdawkins" rel="me">Instagram</a>
      </p>
    </footer>
  </body>
</html>
