<!DOCTYPE html>
<html>
  <head>
    <title>Adam Dawkins</title>
    <link rel="icon" href="/avatar.jpg" type="image/jpg" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application" %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <main>
      <%= yield %>
    </main>
    <footer>
      <h2>On the web:</h2>
      <ul>
        <li><a href="https://twitter.com/adamdawkins" rel="me">Twitter</a></li>
        <li><a href="https://github.com/adamdawkins" rel="me">Github</a></li>
        <li><a href="https://instagram.com/adamdawkins" rel="me">Instagram</a></li>
      </ul>
    </footer>
  </body>
</html>
